<app-navigation-header>{{project!.code}}-{{model?.id}}</app-navigation-header>

<p>Name: {{model?.name}}</p>
<p>Description: <br />{{model?.description}}</p>
<p>Priority: {{model?.priority ? Priority[model!.priority] : Priority[Priority.High] }}</p>
<p>Status: {{model?.state ? State[model!.state]: State[State.Todo] }}</p>

<div>
        <app-item *ngFor="let task of model?.tasks" [routerLink]="project!.getTaskLink(task.id!)" [project]="project!"
                [item]="task"></app-item>
</div>

<button (click)="update()">Edit</button>
<button class="red" (click)="delete()">Delete</button>