.go-back {
    font-size: 40px;
    padding-bottom: 10px;
}

.go-back i {
    cursor: pointer;
}

button {
    width: 200px;
    height: 30px;
    background-color: #1e90ff;
    color: #fff;
    box-shadow: none;
    border: none;
    cursor: pointer;
    margin: 20px;
}

.red {
    background-color: red;
}



.project {
    border-bottom: 2px solid dodgerblue;
    padding: 10px;
}

.grey {
    color: #444;
    font-weight: 700;
    background-color: #888;
    padding: 3px;
}

.blue {
    color: #005299;
    font-weight: 700;
    background-color: #0096FF;
    padding: 3px;
}

.green {
    color: #38A900;
    font-weight: 700;
    background-color: #7CFC00;
    padding: 3px;
}

.feature {
    border-bottom: 2px solid dodgerblue;
    cursor: pointer;
}

.feature:hover {
    background-color: #ddd;
}

.feature-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    padding-right: 30px;
}

.name {
    width: 80%;
}

.fa-arrow-up {
    color: red;
}

.fa-arrow-right {
    color: yellow;
}

.fa-arrow-down {
    color: blue;
}

.code {
    color: dodgerblue;
}

.add {
    justify-content: center;
    font-size: 60px;
}