:host {
    border: 2px solid dodgerblue;
    display: block;
    margin: 10px;
    padding: 10px;
}

.go-back {
    font-size: 40px;
    padding-bottom: 10px;
}

.go-back i {
    cursor: pointer;
}

button {
    width: 200px;
    height: 30px;
    background-color: #1e90ff;
    color: #fff;
    box-shadow: none;
    border: none;
    cursor: pointer;
    margin: 20px;
}

.red {
    background-color: red;
}